<nav>
  <div class="site-title">
    <a href="/"><h1>Unyime101</h1></a>
    <p>>>>The 101 on Unyime Smith.</p>
  </div>
  <ul>
    <li><a href="/">logs</a></li>
    <li><a href="/aboutME">About Me</a></li>
    <li><a href="/create">New Blog</a></li>
  </ul>
</nav>