<nav>
  <div class="site-title">
    <a href="/"><h1>Unyime101</h1></a>
    <p>>>>The 101 on Unyime Smith.</p>
  </div>
  <ul>
    <li><a href="/create">Dashboard</a></li>
    <li><a href="/blogs">log out</a></li>
  </ul>
</nav>