<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About the Kid</h2>
    <p>I'm on an exciting path into the tech world, currently building my skills through hands-on projects and continuous learning. I’m always eager to pick up new tools, experiment with ideas and grow with every challenge. Keep up with this page to see what I’m up to—and if you’ve got any advice or support to share, it’s always welcome!</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>