<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Unyime101 | <%= title %></title>
</head>
<body>
  <h1>Hellooo, this ais all aboue me</h1>
  <h2>Blah blah Bblah</h2>
  <nav>
    <a href="/">Home</a>
    <a href="/aboutme"> About Me page</a>
  </nav>
</body>
</html>