<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav2.ejs") %>

  <div class="not-found content">
    Will create delete page:)
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>