<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Unyime101 | <%= title%></title>
</head>
<body>
  <h1>Home</h1>
  <h2>Whoop page is up!</h2>
  <nav>
    <a href="/">Home</a>
    <a href="/aboutme">About Me page</a>
    <a href="/create">Click here to create a post</a>
  </nav>
</body>
</html>