<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="auth-form content">
    <form action="/login" method="POST" class="auth-form">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Login</button>
    </form>
    <p class="auth-extra">
        Don’t have an account? <a href="/signup">Sign up here</a>.</p>
 </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>



